* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  display: grid;
  grid-template-columns: 25% 75%;
  background-color: rgb(94, 214, 198);
  height: 5rem;
  align-items: center;
  padding: 0.5rem;
}

.navbar {
  display: flex;
  flex-direction: row;
  margin-left: 40rem;
}

.navlink {
  margin-left: 1rem;
  text-decoration: none;
  font-weight: 600;
}

.cal-main-container {
  display: grid;
  grid-template-columns: 30% 70%;
  align-items: start;
  margin-left: 2rem;
}
.quotes {
  width: 50%;
  margin-left: 10%;
  margin-top: 4rem;
  font-size: 2rem;
}

.app-container {
  display: flex;
  flex-direction: column;
  width: 25rem;
  height: 25rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
  background-color: green;
}

.app-container .calsc {
  height: 4.5rem;
  background-color: rgba(59, 57, 57, 0.884);
  text-align: right;
  padding-right: 0.5rem;
  font-size: 1rem;
  color: whitesmoke;
}

.calculator-panel {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 4.2rem;
  background-color: rgb(168, 150, 185);
  row-gap: 0.2rem;
  font-size: 2rem;
}

.calculator-panel .wide {
  grid-column: 1 / span 2;
}

.homecontainer {
  width: 80%;
  padding: 2rem;
  font-size: larger;
  justify-content: space-evenly;
}
