* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app-container {
  display: flex;
  flex-direction: column;
  width: 25rem;
  height: 25rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
  background-color: green;
}

.app-container .calsc {
  height: 4.5rem;
  background-color: rgba(59, 57, 57, 0.884);
  text-align: right;
  padding-right: 0.5rem;
  font-size: 1rem;
  color: whitesmoke;
}

.calculator-panel  {
  display: grid;
  grid-template-columns:25% 25% 25% 25%;
  grid-template-rows:4.2rem;
  background-color: rgb(168, 150, 185);
  row-gap: 0.2rem;
  font-size: 2rem;
}

.calculator-panel .wide {
  grid-column: 1 / span 2;
}